<footer id="footer">
    <!-- <div class="footer-newsletter">
      <div class="container">
        <h3>Register Your Details For Mobile Tower</h3>
        <div class="row">
        </div>
      </div>
    </div> -->
    <!-- </div> -->
    <div class="footer-top" style="background-color: #000000;">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-6 col-md-6 footer-contact">
            <h3>Indian 4G</h3>
            <p>
              The Capital, Tower B, 12th Floor, 1408, G-Block, Bandra Kurla Complex, Bandra (E), Mumbai-400051 Maharashtra<br><br>
              <strong>Phone:</strong> +91 7044038395<br><br>
              <strong>Email:</strong>qtower8796@gmail.com<br>
            </p>
          </div>
  
          <!-- <div class="col-lg-4 col-md-6 footer-links">
            <h3>Useful Links</h3>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="service">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="portfolio">Portfolio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="priceChart">Price chart</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="contact">Contact</a></li>
            </ul>
          </div> -->
          <div class="col-lg-6 col-md-6 footer-links">
            <h3> Contact Info</h3>
            <h4>Corporat Office Address :</h4>
            <p> The Capital, Tower B, 12th Floor, 1408, G-Block, Bandra Kurla Complex, Bandra (E), Mumbai-400051 Maharashtra</p>
            <!-- <h4>Corporate Office Address :</h4>
            <p> A108 Adam Street
              New York, NY 535022
              United States</p> -->
            <!-- <h4>Connect With Us</h4> -->
            <!-- <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div> -->
          </div>
  
        </div>
      </div>
    </div>
  
    <div style="background-color: #131111;color: #e5e2e2; " class="text-center py-4"> &copy; 2020. All rights reserved
      <!-- <div class="copyright text-center">
        &copy; Copyright <strong><span></span></strong>. All Rights Reserved
      </div> -->
      <!-- <div class="credits"> -->
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
      <!-- Designed by <a href="https://bootstrapmade.com/">XYZ</a> -->
      <!-- </div> -->
    </div>
  </footer>