<section class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <h3><span>About Us</span></h3>
      </div>
      <p>All India 4G Tower Company Found in 1971 as Telecom Industry in Mumbai, Maharashtra. We installed 3G / 4G
        Mobile Tower Jio, Airtel, Vodafone, Idea etc. The company has distinct to install more than 7000 across the
        country and shall shortly issue the detailed official guidelines to install a 3G/4G tower at your Rooftop,
        Field, Plot, and Market etc..

      </p>


      <div class="row">
        <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
          data-aos-delay="100">
          <h5>DIGITAL MARKETING AWARDS</h5>
          <!-- <p class="font-italic">
            "AVA Digital Awards is an international competition that recognizes excellence by creative professionals responsible for the planning, concept, direction, design, and production of digital communication. Work ranges from digital engagement campaigns-to audio and video production-to website development — to social media interaction — to mobile marketing."
          </p> -->
          <ul>
            <li>
              <i class="fa fa-trophy" aria-hidden="true"></i>
              <div>
                <h5>AVA Digital Awards</h5>
                <p> "AVA Digital Awards is an international competition that recognizes excellence by creative
                  professionals responsible for the planning, concept, direction, design, and production of digital
                  communication. Work ranges from digital engagement campaigns-to audio and video production-to
                  website development — to social media interaction — to mobile marketing."</p>
              </div>
            </li>
            <li>
              <i class="fa fa-file-image-o" aria-hidden="true"></i>
              <div>
                <h5>Social Buzz Awards</h5>
                <p>"The Drum's Social Buzz Awards celebrate and reward the very best in social media communications.
                  By rewarding effective social media campaigns and strategies, these awards give recognition to those
                  who are using social media to communicate in exciting and innovative ways. Open to any individual,
                  agency, company, brand or organization, these awards are the perfect opportunity for you to prove
                  that you are the best in your industry."</p>
              </div>
            </li>
          </ul>
          <!-- <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p> -->
        </div>
      </div>

    </div>
  </section>
<app-footer></app-footer>