<section id="services" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Services</h2>
        <h3>Check our <span>Services</span></h3>
        <p>We shall invite applications for land or space to install Mobile Tower for providing the network in that
          area on rent basis.</p>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><img src="./assets/img/signaltower.png" width="100px;height=100px"></div>
            <h5 class="pt-3"><a href="">TOWER</a></h5>
            <p>The Company installed 3G / 4G Mobile Tower in many locations and decided to install more than 7000 over
              the country for Jio users for data speed and network problem.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
          data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><img src="./assets/img/radar.png" width="100px;height=100px"></div>
            <h5 class="pt-3"><a href="">APPLICATIONS SPACE</a></h5>
            <p>We shall invite applications for land or space to install 3G/4G Tower for providing the network in that
              area on rent basis.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
          data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><img src="./assets/img/place.png" width="100px;height=100px"></div>
            <h5 class="pt-3"><a href="">REQUIRED SPACE</a></h5>
            <p>You required to have at least 500 square feet infertile land and the urban people who want to apply for
              Jio 4G tower.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
          data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><img src="./assets/img/settings.png" width="100px;height=100px"></div>
            <h5 class="pt-3"><a href="">REQUIRED SPACE</a></h5>
            <p>You required to have at least 500 square feet infertile land and the urban people who want to apply for
              Jio 4G tower.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>