<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Pricing</h2>
        <h3>Check our <span>Pricing</span></h3>
        <p>Earn more than 15,000 per month</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="box featured">
            <h3>Rural Package</h3>
            <table class="table ">
              <tbody>
                <tr>
                  <th style="border-top: none;">Rs.25,000 / PER MONTH</th>
                </tr>
                <tr>
                  <td>Space required-500 sq ft</td>
                </tr>
                <tr>
                  <td>Advance amount-Rs.15,00,000</td>
                </tr>
                <tr>
                  <td>Agreement period-15 years</td>
                </tr>
                <tr>
                  <td>Processing fee-Rs.14300</td>
                </tr>
                <tr>
                  <td>Space required-500 sq ft</td>
                </tr>
              </tbody>
            </table>
            <div class="btn-wrap">
              <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter">APPLY NOW</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3>Semi Urban Package</h3>
            <table class="table ">
              <tbody>
                <tr>
                  <th style="border-top: none;">Rs.25,000 / PER MONTH</th>
                </tr>
                <tr>
                  <td>Space required-500 sq ft</td>
                </tr>
                <tr>
                  <td>Advance amount-Rs.15,00,000</td>
                </tr>
                <tr>
                  <td>Agreement period-15 years</td>
                </tr>
                <tr>
                  <td>Processing fee-Rs.14300</td>
                </tr>
                <tr>
                  <td>Space required-500 sq ft</td>
                </tr>
              </tbody>
            </table>
            <div class="btn-wrap">
              <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter">APPLY NOW</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3>Urban Package</h3>
            <table class="table ">
              <tbody>
                <tr>
                  <th style="border-top: none;">Rs.25,000 / PER MONTH</th>
                </tr>
                <tr>
                  <td>Space required-500 sq ft</td>
                </tr>
                <tr>
                  <td>Advance amount-Rs.15,00,000</td>
                </tr>
                <tr>
                  <td>Agreement period-15 years</td>
                </tr>
                <tr>
                  <td>Processing fee-Rs.14300</td>
                </tr>
                <tr>
                  <td>Space required-500 sq ft</td>
                </tr>
              </tbody>
            </table>
            <div class="btn-wrap">
              <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter">APPLY NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary " id="exampleModalLongTitle">APPLY ONLINE NOW</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-apply></app-apply>
      </div>
    </div>
  </div>
</div>
<!-- close modal -->
  <app-footer></app-footer>