<div id="topbar" class="d-none d-lg-flex p-4 align-items-center fixed-top">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;
      <a href="mailto:qtower8796@gmail.com">qtower8796@gmail.com</a></div>
    <div class="contact-info ml-auto">
      <i class="fa fa-phone" aria-hidden="true"></i>
      +91 7044038395
    </div>
    <div class="social-links">
      <i style="background-color: aliceblue;" styclass="icofont-twitter"></i>
    </div>
  </div>
</div>
<app-header></app-header>
<div style="margin-top: 5%;">
  <router-outlet></router-outlet>
</div>